@import 'tailwindcss';
@source "../views";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
    form {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    input, button {
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 8px;
    }

    button {
        cursor: pointer;
        padding-inline: 1rem;
    }
    button:hover {
        background: #000;
        color: #fff;
    }
}

@layer components {
    .product_list {
        @apply flex flex-col bg-gray-300 pr-4 pl-4 border-1 rounded-md mt-4 mb-4
    }

    .product_item {
        @apply flex items-center gap-5 border-b-1 pb-4 pt-4 justify-between
    }
}
